body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 242, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(226, 162, 43);
}

label {
    font-style: italic;
    font-weight: 700;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #0c0b0b;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:rgb(226, 168, 43);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b3915a;
}

.message {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}
